<!-- <div class="card flex justify-content-center">
  <div
    (wheel)="onScroll($event)"
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp($event)"
    [class.panning]="isPanning"
    [class.not-panning]="!isPanning"
    [class.no-select]="isPanning"
    class="scroll-container">
    <p-scrollPanel [style]="{ width: '100%', height: '800px' }">
      <div class="content" [ngStyle]="{
        'transform': 'scale(' + zoomLevel + ') translate3d(' + panX + 'px, ' + panY + 'px, 0)'
      }">

        <p-organizationChart [value]="treeData">
            <ng-template let-node pTemplate="default">
                <div class="node-content p-2 text-center" pDroppable (onDrop)="drop($event, node)">
                    <div pDraggable (onDragStart)="dragStart(node)" (onDragEnd)="dragEnd()">
                      <h4>Drag me</h4>
                    </div>
                    <i class="fa fa-home"></i>
                    <div >
                        {{ node.data.name }}
                    </div>
                    <div class="p-2">
                        {{ node.label }}
                    </div>
                </div>
            </ng-template>
        </p-organizationChart>
      </div>

    </p-scrollPanel>
  </div>

</div> -->
<div class="flex justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="card flex justify-content-center tree-container" >
        <p-tree #tree [(value)]="treeData" class="w-full md:w-30rem"
          [draggableNodes]="true" [droppableNodes]="true" draggableScope="self" droppableScope="self"
          [contextMenu]="cm" (onNodeDrop)="drop($event)"
        >
            <ng-template let-node pTemplate="url">
                <a [href]="node.data" target="_blank">{{ node.label }}</a>
            </ng-template>
            <ng-template let-node pTemplate="default" >
              <span (click)="onClick($event, node)"><b>{{node.data.code}}</b></span> |
              <span>{{ node.label }}</span>
            </ng-template>
        </p-tree>
      </div>
    </div>
  </div>
</div>

<p-contextMenu #cm [model]="items"></p-contextMenu>




